body {
  margin: 0;
  font-family: sans-serif;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #ccc; 
  box-sizing: border-box;
  background-color: white; 
  margin-botton: 20px;

}


nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-botton: 20px;
}


main {
  margin-left: 170px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}
